

//   BACKGROUND COLORS
  $--main-background-color: #ffffff;
  $--footer-background-color: #2f303a;

//   FONT COLORS
  $--dark-text-color: #212121;
  $--bright-text-color: #757575;
  $--blue-text-color: #2196f3;

//   BUTTON COLORS
  $--button-primary-color: #2196f3;
  $--button-secondary-color: #f5f4fa;

//   iCONS COLORS
  $--icons-primary-color: #afb1b8;
  $--icons-secondary-color: #ffffff;
  $--icons-active-color: #2196f3;

// FONTS STYLES
  $--primary-font: "Roboto", sans-serif;
  $--secondary-font: "Raleway", sans-serif;
  $--logo-font: "Raleway";

// OTHER
  $--transition-fn: cubic-bezier(0.4, 0, 0.2, 1);