.article {
    padding-top: 94px;
    padding-bottom: 94px;
    
    &__container {
      @extend .container;
    }

    &__menu {
        // display: flex;
        list-style: none;
        padding: 0;
      }

    // &__item:not(:last-child) {
    //     margin-right: 30px;
    //   }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1, 142;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
    &__text {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: $--bright-text-color;
      }

    &__icon {
        display: flex;
        justify-content: center;
        background-color: #f5f4fa;
        border-radius: 4px;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 30px;
      }
  }

  @media (min-width: 768px) {
    .article__menu {
      display: flex;
      gap: 30px;
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {
    .article__menu {
      display: flex;
      flex-wrap: wrap;
      // padding: 15px;
    }

    .article__item {
      flex-basis: calc(90%/2);
      margin: auto;
    }
  }

  @media (max-width: 479px) {

    .article {
      padding-bottom: 60px;

      &__title {
        text-align: center;
      }
    }
    .article__item {
      padding: 0px 15px 0px 15px;

      &:not(:last-child) {
      margin-bottom: 30px;
      }
    }

  }
