.footer {
    background: $--footer-background-color;
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;

    &__container {
      @extend .container;
    }

    &__logo {
        display: block;
        color: #ffffff;
      }

    &__address {
        font-size: 14px;
        line-height: 1, 714;
        letter-spacing: 0.03em;
        color: #ffffff;
        margin-top: 20px;
        font-style: normal;
      }

    &__menu {
        display: block;
        list-style: none;
        padding: 0;

        li {
            margin-top: 9px;
          }
      }
    &__contact {
        display: block;
        font-size: 14px;
        line-height: 1, 714;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);

        &:hover,
        &:focus {
           color: $--blue-text-color;
        }
      }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 12px;
      }
      
    &-socials {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 10px;

        &__link {
            display: flex;
            border: none;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.1);
            fill: $--icons-secondary-color;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover,
            &:focus {
              background-color: $--blue-text-color;
            }
          }
      }
  }

  @media (max-width: 480px) {
    .footer {
      &__container {
        display: flex;
        gap: 70px;
        flex-direction: column;
        align-items: center;
      }
      &__tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
      }
      &__title {
        text-align: center;
      }
      &__menu {
        text-align: center;
      }
      &__logo {
        text-align: center;
      }
    }
  }

  @media (min-width: 481px) and (max-width: 1199px) {
    .footer {

      &__container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
      }
      &__tablet {
        display:flex;
        justify-content: center;
        gap: 144px;
      }
    }

  }

  @media (min-width: 1200px) {
    .footer {
      &__container {
        display: flex;
        gap: 70px;
      }

      &__tablet {
        display: flex;
        gap: 70px;
      }
    }

  }

  