  .header {
    border-bottom: 1px solid #ececec;

    &__container {
      @extend .container;
      display: flex;
      align-items: center;
      padding-top: 25px;
      padding-bottom: 25px;
      border: 2px solid green;

    }

    &__logo {
      color: black;
    } 
  }

  @media (max-width: 1200px) {
    .header__container {
      justify-content: space-between;
    }
  }