.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    transition-property: visibility, opacity;
    transition-duration: 250ms;
    opacity: 1;
  }

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: visibility 250ms linear, opacity 250ms linear;
  }  

.modal {
  &__container {
    position: fixed;
    height: 581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

    &__close-button {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        cursor: pointer;

        &:focus {
            background-color: var(--icons-active-color);
            color: #ffffff;
          }
      }
    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--dark-text-color);
        margin-top: 40px;
      }
  } 

  @media  (min-width: 480px) {
    .modal {
      &__container {
        width: 450px;
        margin-top: 93px;
      }
      &__title {
        width:370px;
        margin:40px 40px 0px 40px;
      }
    }
  }
  @media (min-width: 1200px) {
    .modal {
      &__container {
        width: 528px;
        margin-top: 226px;
      }
      
      &__title {
        width:448px;
      }
    }
  }