.newsletter {
    &__input {
      min-width: 319px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      color: rgba(255, 255, 255, 0.6);
      background: none;
      padding-left: 16px;
      outline: none;
    }

    &__button {
        display: flex;
        align-items: center;
        height: 50px;
        background-color: $--button-primary-color;
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;

        &:hover {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          transition: box-shadow 250ms $--transition-fn;
        }

        &--name {
            font-family: $--primary-font;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 0.06em;
            margin-left: 42px;
            margin-right: 24px;
            color: #ffffff;
          }
      }
    &__icon {
        margin-right: 28px;
      }
      
  }

  @media (min-width:1200px) {

    .newsletter {
      display: flex;

      &__input {
        width: 342px;
      }

      &__button {
        margin-left: 12px;


      }
    }
  }

  @media (min-width:481px) and (max-width:1199px) {
    .newsletter {
      display: flex;
      flex-direction: column;
      width: 450px;
      align-items: center;   
      border: 2px solid red;

      &__input {
        width: 435px;
        margin-bottom: 20px;
      }
    }
  }

  @media (max-width:480px) {

    .newsletter {

      display:flex;
      flex-direction: column;
      align-items: center;

      &__input {
        max-width: 319px;
      }

      &__button {
        margin-top: 20px;
        max-width: 220px;
      }
    }
  }