.portfolio {
    background-color: $--main-background-color;
    margin-bottom: 94px;

    &__container {
        @extend .container;
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
      }
  }
  